<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Vodka Codename</title>
    <style>
        *{
            box-sizing: border-box;
        }
        #cards{
            background-color: #EEE;
            padding: 0.8% 0 0 0.8%;
            margin: auto;
            width: 80%;
            position: relative;
        }
        #cards:after{
            content: "";
            clear: both;
            display: block;
        }
        .card{
            width: 19%;
            margin: 0 1% 1% 0;
            height: 12%;
            float: left;
            text-align: center;
            line-height: 100px;
            border-radius: 10px;
            border: solid 1px black;
            position: relative;
            background-color: #FFFFFF;
        }
        .card.red{
            background-color: #e74c3c;
        }
        .card.blue{
            background-color: #3498db;
        }
        .card.bystander{
            background-color: #f1c40f;
        }
        .open-button{
            position: absolute;
            right: 20px;
            bottom: 10px;
            font-size: 12px;
            text-decoration: underline;
            line-height: 1;
        }
    </style>
</head>
<body>

<div id="content">
    <a @click="resetCards()">리셋</a>
    <p>turn : {{turn}}</p>
    <p>win : {{win}}</p>
    <div id="cards">
        <template v-for="card in cards">
            <template v-if="card.hidden">
                <div class="card" v-if="win">
                    {{ card.word }} / {{ card.type }}
                </div>
                <div class="card"  v-else>
                    {{ card.word }}
                    <a class="open-button" @click="openCard(card.id)">오픈</a>
                </div>
            </template>
            <div class="card"  v-else :class="card.type">
                {{ card.word }} / {{ card.type }}
            </div>
        </template>
    </div>
</div>

</body>
<script>
    const content = new Vue({
        el: '#content',
        data: {
            cards: [],
            turn: null,
            win: null,
        },
        created() {
            this.updateGameData();
        },
        methods: {
            updateGameData() {
                axios.get('/api/game')
                .then((res) => {
                    const game = res.data.game;
                    console.log(game);

                    this.cards = game.cardList.cards;
                    this.turn = game.turn;
                    this.win = game.win;
                })
                .catch((err) => {
                    console.log(err);
                })
            },
            async openCard(id) {
                await axios.post('/api/card/open', {
                    cardID: id,
                }).then((res) => {
                    console.log(res);
                }).catch((err) => {
                    console.log(err);
                });

                this.updateGameData();
            },
            async resetCards() {
                await axios.post('/api/cards/reset')
                    .then((res) => {
                        console.log(res);
                    }).catch((err) => {
                        console.log(err);
                    });
                this.updateGameData();
            },
        },
    })
</script>
</html>