*{
  box-sizing: border-box;
}

a{
  font-weight: bold;
}

#cards{
  background-color: #EEE;
  padding: 0.8% 0 0 0.8%;
  margin: auto;
  width: 80%;
  position: relative;
  &:after{
    content: "";
    clear: both;
    display: block;
  }
}

.card-wrapper{
  position: relative;
  width: 19%;
  height: 0;
  padding-bottom: 12%;
  margin: 0 1% 1% 0;
  float: left;
}
.card-cover{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 1px black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform-origin: top;

  &.red{
    background: rgb(163,52,26);
    background: radial-gradient(circle, rgba(163,52,26,1) 20%, rgba(84,25,9,1) 100%);
  }
  &.blue{
    background: rgb(67,99,140);
    background: radial-gradient(circle, rgba(67,99,140,1) 20%, rgba(22,39,65,1) 100%);
  }
  &.bystander{
    background: rgb(216,211,201);
    background: radial-gradient(circle, rgba(216,211,201,1) 20%, rgba(186,178,163,1) 100%);
  }
  &.assassin{
    background: rgb(122,119,97);
    background: radial-gradient(circle, rgba(122,119,97,1) 0%, rgba(26,27,26,1) 100%);
  }

  &.lifted{
    transform: scaleY(0.5);
  }
}

.card{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  border: solid 1px black;
  background-color: #FFFFFF;
  display: table;

  &.red{color: #e74c3c;}
  &.blue{color: #3498db;}
  &.bystander{color: #f1c40f;}
  &.assassin{color: #000000;}

  span{
    display: table-cell;
    vertical-align: middle;
  }
}

.open-button{
  position: absolute;
  right: 14%;
  bottom: 7%;
  font-size: 12px;
  text-decoration: underline;
  line-height: 1;
}